
/* COMMON CODE FOR PAGES */

:root{
    --text-gray: #757575;
    --blue-color: #2196F3;
    --black-color: #212121;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Estilos para poner a cero la sangría superior de los elementos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Propiedades para la correcta visualización de las imágenes */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Propiedad para anular la cursiva en address */
address {
    font-style: inherit;
    /*
        También se puede poner así:
        font-style: normal;
    */ 
}

body{
    color: var(--black-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}




/* BLOQUE CONTENEDOR */
.container{
    
}



/* Clase para restablecer las propiedades básicas de las listas (ul) */
.list {
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

/* Clase para restablecer las propiedades básicas de los enlaces */
.link {
    text-decoration: none;
    outline: none;
    color: inherit;
}



/* HEADER */

.section-1-header{
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #a5a1a15b;
}




/* NAVEGATION BAR */

nav{
    display: flex;
}

/* Webstudio */
.web-studio{
    margin-left: 145px;
    color: var(--blue-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}

.navegation-list>li {
    display: inline;
    margin-left: 50px;
}

.navegation-links {
    font-size: 14px;
    font-weight: 500;
    color: var(--black-color);
}

.navegation-links:hover,
.navegation-links:focus {
    color: var(--blue-color);
}

.pag-active {
    font-size: 14px;
    font-weight: 500;
    color: var(--blue-color);
}

.navegation-info>li {
    display: inline;
    margin-right: 50px;
}

.navegation-info>li>a {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-gray);
}

.navegation-info>li>a:hover,
.navegation-info>li>a:focus {
    color: var(--blue-color);
}





/* FOOTER */

.sec-footer {
    padding-left: 215px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--black-color);
    color: aliceblue;
}

.web-studio-footer {
    color: var(--blue-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}

.info-footer>li>a {
    font-size: 14px;
    font-weight: 400;
    color: #8f8b8b;
}

.info-footer>li>a:hover,
.info-footer>li>a:focus {
    color: var(--blue-color);
}






/* PAGE 1: index.html */

.sec-1{
    height: 600px;
    padding-top: 200px;
    text-align: center;
    background-color: var(--black-color);
    color: aliceblue;
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.75);
}

.title-h1 {
    font-size: 44px;
    font-weight: 900;
}

.boton1{
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    background-color:var(--blue-color);
    color: aliceblue;
    border: none;
    padding: 15px;
    border-radius: 4px;
    margin-top: 30px;
}

.boton1:hover, .boton1:focus{
    background-color: #046dc4;
}

.sec-2{
    display: flex;
    justify-content: center;
}

.list-about-us{
    display: flex;
}

.list-about-us>li{
    display: inline;
    padding: 10px;
    margin: 15px;
    width: 270px;
}

.list-about-us>li>h3 {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.parrafos {
    line-height: 1.71;
    color: var(--text-gray);
}

.sec-3{
    text-align: center;
    margin-bottom: 94px;
}

.titles-h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-top: 94px;
    margin-bottom: 50px;
}

.img-list{
    display:flex;
    justify-content: center;
}

.img-list>li{
    margin-left: 30px;
}

.sec-4{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.sec-4-h2{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.our-team-list{
    display: flex;
    justify-content: center;
}

.our-team-list>li{
    margin-left: 37px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-list>li>h3{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.our-team-list>li>p {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-gray);
    text-align: center;
}





/* PAGE 2: portafolio.html */

.buttons-list{
    display: flex;
    justify-content: center;
    padding-top: 106px;
}

.buttons-list>li {
    margin-left: 8px;
}

.filter-buttons {
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.filter-buttons:hover,
.filter-buttons:focus {
    color: aliceblue;
    background-color: var(--blue-color);
}

.services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 82px;
    padding-left: 215px;
    padding-right: 215px;
}

.img-services {
    max-width: 370px;
    box-sizing: border-box;
    display: inline;
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid #EEEEEE;
}

.services-list>li>h3 {
    font-size: 18px;
    font-weight: 700;
    text-align:left;
    margin-left: 24px;
}

.services-list>li>p {
    font-size: 16px;
    color: var(--text-gray);
    text-align:left;
    margin-left: 24px;
}

